.logout{
   position: absolute;
   min-height: 50px;
   min-width: 200px;
   bottom: -26px;
   right: 11px;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d6ffff;
   border-radius: 10px;
   animation: move 5s 1 linear;
   text-align: center;
   padding: 15px;
   p{
      color: rgb(42, 83, 94);
      margin: 0;
      position: relative;
   }


}

@keyframes move {
   0% {
      transform: scaleY(0.5);
      opacity:  0.5;
   }
   5% {
      transform: scaleY(1);
      opacity:  1;
     }
   80% {
      transform: scaleY(1);
      opacity:  1;
    
     }  
   100% {
      transform: scaleY(0.5);
      opacity:  0;
   }
}
