.article{
   background-color:rgb(255, 255, 255);
   padding: 15px;
   min-height: 400px;
   position: relative;
   &__header{
      display: flex;
      align-items: center;
      h4{
         font-weight:600;
      }
      h4,h5{
         font-size: 16px;
      }
      h5{
        color: #777; 
      }
   }
   &__title{
      h4{
         color: var(--color-dark);
         font-weight:700;
         font-size: 26px;
        }
      &:hover{
        h4{color: #4da7a7;} 
      }
   }
   &__button{
      border: 2px solid #9bd3d3;
      width: 130px;
      display: flex;
      justify-content: center;
      padding: 7px;
      &:hover{
         cursor: pointer;
         background-color:rgb(182 239 239 / 28%);
         color: #9bd3d3;
         a{color: #9bd3d3;}

      }
      a{
         color: var(--color-dark);
      }
      &-profile{
         margin: 5px;
         a{
            color: var(--color-dark);
         }
         &-container{
            display: flex;
            margin: 5px;
         }
      }
   }

}
.articles{
   &__pagination{
      display: flex;
      justify-content: center;
      align-items: center;
      &-element{
         padding: 5px 10px;
         border: 1px solid rgb(20, 126, 112);
         margin: 0 5px;
         min-width: 10px;
         &.active {
            border-color: rgb(45, 56, 207);
         }
         &:hover{
            cursor: pointer;
            border-color: rgb(45, 207, 186);
            background-color: #d7e9e9;
         }
      }
   }
}
