.header{
   
    background-color: rgb(42, 83, 94);
   
}
.navbar{
   max-width: 1200px;
   margin: 0 auto 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: azure;
}
.navbar a{
    font-weight: bold;

}
.nav-btn{
   color: azure;
}
