// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


:root {
  --unit: 1rem; /* 1rem = 16px */
  --radius: 5px;
  --border: 1.8px;

  --color-primary: #f0bd66;
  --color-secondary: #f5f2ed;
  --color-dark: #002033;
  --color-gray: #7d818e;
  --color-light: #94a3b8;
  --color-link: #0ea5e9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito";
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.24px;
  color: var(--color-dark);
  
  cursor: nw-default;
}

ul {margin-top: 0;
  margin-bottom: 0;}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 0;
}

.text-field {
  min-width: 40%;
}

.text-field__label {
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-bottom: 0.25rem;
}

.text-field__input,
.text-field__select {
  width: 100%;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: var(--border) solid var(--color-secondary);
  border-radius: var(--radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea {
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px;
  background-color: #fff;
  background-clip: padding-box;
  border: var(--border) solid var(--color-secondary);
  border-radius: var(--radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea::placeholder,
.text-field__input::placeholder {
  color: var(--color-light);
}

textarea:focus,
.text-field__input:focus,
.text-field__select:focus {
  background-color: #fff;
  border-color: var(--color-primary);
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f0bd6650;
}

textarea:hover,
.text-field__input:hover,
.text-field__select:hover {
  background-color: #fff;
  border-color: #5eafaf;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #5eafaf;
}
.text-login p {
  font-family: "Nunito";
  font-size: 0.8em;
  font-weight: bold;
}

.text-login p:hover {
  color: #32d3df;
}
/*************************/
/* КНОПКИ
/*************************/

.btn {
  width: 100%;
  height: 38px;
  /* padding: 0 24px; */
  background-color: #9bd3d3;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  transition: 0.15s ease-in-out;
}
.btn-search {
  width: 20%;
  /* margin-top: 2%; */
  align-self: flex-end;
}
.btn:hover {
  background-color: #5eafaf;
}

.btn:active {
  background-color: #50e2e2;
}

.btn-add {
  background-color: #7d818e;
}

.btn-add:hover {
  background-color: #7d818e95;
}

.btn-add:active {
  background-color: #7d818e69;
}
// pages
.pages{
  background-color: #dcdde5;
  padding-top: 20px;
   &-container{
     min-height: 300px;
     
   }
   
   &-header{
      padding: 15px;
      
      background-color:rgb(255, 255, 255);
      margin-bottom: 5px;
      h3{
        font-size: 1.24375rem;
        font-weight: 700;
        line-height: 1.75rem;
        margin-bottom: 0;
      }
   }
};