.cont{
   background-color: #9bd3d3;
   &_fixed {position: fixed;
      z-index: 100;
      top: 0;

      border-bottom: 1px solid rgb(218, 215, 215);
      width: 100%;
   }

}
.wrapper{
   max-width: 1200px;
   position: relative;
   margin: 0 auto 0 auto;

}
a {
   text-decoration: none;
 }

.menu {
   background-color: #9bd3d3;
   display: flex;
   justify-content: flex-start;
   padding: 0px 0px 0px 0;
   color: #3c4346;
   & li {
   list-style-type: none;
   text-decoration: none;
   padding: 10px;
   }
   & a:hover {
   text-decoration: underline;
   }
   & a:active {
      color: rgb(67, 34, 185);
   }
   &__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__search{
      padding: 10px;
       &:hover &-block{
           fill: #0a58ca;
           transform: scale(1.25);
           cursor: pointer;
       }
       &-block{
           fill: #0d6efd;
           width: 1.7em;
           height: 1.7em;
       }
   }
   &__edit{
      padding: 10px;
      &:hover &-block{
         fill: #0a58ca;
         // transform: scale(1.25);
         cursor: pointer;
      }
      &-block{
         // fill: #0d6efd;
         width: 1.6em;
         height: 1.6em;
      }

   }
 }

