.footer {
    background-color: rgb(42, 83, 94);
    width: 100%;
    height: 400px;
}

.account p {
    margin: 20px;
    width: 150px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 15px;
    margin-top: 50px;
}

.account div {
    margin: 20px;
}

.categories p {
    margin: 20px;
    width: 150px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 15px;
    margin-top: 50px;
}

.categories{ 
    &__blok {
    margin: 20px;
    }
    &__item{
        margin: 0px 0px 1rem 0px;
    }
    
}

.information p {
    margin: 20px;
    width: 150px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 15px;
    margin-top: 50px;
}

.information div {
    margin: 20px;
}

.services p {
    margin: 20px;
    width: 150px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 15px;
    margin-top: 50px;
}

.services div {
    margin: 20px;
}

.footer__down {
    background-color: #232222;
    width: 100%;
    height: 100px;
}

.footer__down * {
    color: #fff;
}
