.profile{
    &-page{
        width: 70%;
        padding: 24px;
        background: #ffffff;
        box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
        border-radius: var(--radius);
        margin: 0 auto;
        &_p_describe{
            font-size: 12px;
            color: rgb(59, 59, 59);
            margin: 0;
        }

    }
    &-btn{
        width: 40%;
    }
}
